<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- <style>
        
.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00008b; /* Blue background color */
    z-index: -2;
}
    </style> -->
    <link rel="stylesheet" href="static\styles.css">
    <link rel="stylesheet" href="static\background.css">
</head>
<body>
    
    <div class="background">
        <div class="circle top-left"></div>
        <div class="circle top-right"></div>
    </div>
    

    <div class="glass-overlay"></div>
    <div class="card center">
        <h1>Add User</h1>
        <form method="POST">
            <label for="isAdmin">Is Admin:</label><br>
            <input type="checkbox" id="isAdmin" name="isAdmin"><br>
            <label for="fullName">Full Name:</label><br>
            <input type="text" id="fullName" name="fullName"><br>
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email"><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password"><br><br>
            <button type="submit">Add User</button>
        </form>
    </div>

</body>
</html>
